/*@font-face {
  font-family: Neucha;
  src: url(fonts/neucha-regular.ttf);
}*/

@keyframes anima {
  0% {background-color: #c5b7f7;}
  25% {background-color: #defffe;}
  50% {background-color: #e9b7f7;}
  100% {background-color: #c5b7f7;}
}

body {
  font-family: Garamond, serif;
  font-weight:normal;
  font-style:normal;
  float: left;
  animation: anima 10s infinite;
  padding-left: 20px;
  padding-right: 20px;
	font-size: 1.5vw;
}

img {
  image-rendering: high-quality;
	max-width: 100%;
}

@media screen and (max-width: 620px) {
  img {
    width: 75%;
  }
}

h1 {
  border: double;
  border-color: pink red purple blue;
  padding: 1%;
}

nav {
  background-color: pink;
  overflow:hidden;
  float:left;
  width: 100%;
  position: relative;
}

nav ul{
  float: left;
  position:relative;
  margin: 0;
  left: 50%;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  float:left;
  position: relative;
  right:50%;
  display: block;
}

nav ul li a{
  padding: 10px 20px;
  display: block;
  color: #000;
  text-decoration: none;
}

nav a:hover {
  background-color:#fff;
}

ul {
  list-style-position: outside;
}

p {
  text-indent: 1.5em;
}

.resumeh2 {
  text-decoration: underline solid #ff866b 15%;
}

.resumebody {
  border: 5px pink;
  border-style: groove;
}

.rlist {
  list-style-type: circle;
}

.arth {
  transform: scaleY(2);
}

#topviewimg {
  float: right;
	display: block;
}

#sideviewimg {
  float: right;
	display: block;
}